# Configuração API
API_BASE_URL=http://seu_link_aqui.com/
API_USERNAME=seu_usuário_aqui
API_PASSWORD=sua_senha_aqui

# Caminhos
RAW_DATA_PATH=data/raw
PROCESSED_DATA_PATH=data/processed
DATABASE_PATH=data/database
MODELS_PATH=data/models